{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <span class="masthead__site-title">{{ site.title }}</span>
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% assign active_class = '' %}
            {% if page.url == link.url %}
              {% assign active_class = ' masthead__menu-item--active' %}
            {% elsif link.url != '/' and page.url contains link.url %}
              {% assign active_class = ' masthead__menu-item--active' %}
            {% endif %}
            <li class="masthead__menu-item{{ active_class }}"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
