/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--active {
    font-weight: 700;
  }
}

.masthead__site-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.5rem 0;
  color: $masthead-link-color;
  font-weight: 700;
  white-space: nowrap;
}

.masthead__menu .greedy-nav {
  box-sizing: border-box;
  width: 100%;
  padding-left: 10em;

  @include breakpoint($large) {
    padding-left: span(2.5 of 12);
  }
}
